<!DOCTYPE html>
<html>
{{#post}}
<head lang="zh-CN">
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="HandheldFriendly" content="True"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{title}}</title>
  <meta name="description" content="{{meta_description}}"/>
  <meta name="keywords" content="笔戈科技,魅族，手机，评测，科技，博客,长微博，{{meta_title}}">
  <style>
    @font-face{font-family:SourceHanSans;src:url("{{asset "fonts/SourceHanSansCN-Normal.otf"}}") format("opentype")}@font-face{font-family:SourceHanSans;font-weight:bold;src:url("{{asset "fonts/SourceHanSansCN-Bold.otf"}}") format("opentype")}body{width:440px;margin:0 auto;font-family:SourceHanSans,Helvetica,Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif}.wb-bg-img-small{display:block;position:relative}.wb-bg-img-small img{width:100%;height:auto}.wb-container{padding:0 35px}.wb-post-info{padding-top:3px;font-weight:400;line-height:1.1}.wb-post-info .wb-title{margin:20px 0;font-size:30px}.wb-post-info .wb-author{color:#898989;display:block;font-size:20px}.wb-post-info a{color:#898989;text-decoration:none}.wb-post-content{padding-top:6px;font-size:18px}.wb-post-content p{margin:17px 0;line-height:1.8em}.wb-post-content p:first-child,.wb-post-content p:nth-child(2){padding:0}.wb-post-content img[alt="bg"]{display:none}.wb-post-content img{display:block;margin:0 auto;max-width:100%}.wb-post-content h1,.wb-post-content h2,.wb-post-content h3,.wb-post-content h4,.wb-post-content h5,.wb-post-content h6,.wb-post-content strong{font-family:"SourceHanSans";font-weight:bold;margin:0}.wb-post-content a{text-decoration:none;color:#53ae65}.wb-post-content ol,.wb-post-content ul{padding-left:40px}.wb-post-content ul{list-style:disc}.wb-post-content ol{list-style-type:decimal}.wb-post-content em{font-style:italic}.wb-post-content blockquote{margin:0 0 0 7px;padding-left:18px;color:#3f484f;border-left:#ccc 3px solid;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.wb-post-content blockquote p{color:#666}.wb-post-content code{font-size:.85em;white-space:pre-wrap;background:#f1f0ea;border:1px solid #dddbcc;border-radius:2px;padding:1px 3px}.wb-post-content br{display:none}.wb-desc{padding-top:15px;padding-bottom:42px;text-align:center}
  </style>
</head>
<body>
  <div class="wb-bg-img-small">
    <img src="{{image}}"/>
  </div>
  <div class="wb-post-info wb-container">
    <p class="wb-title">{{title}}</p>
    <span class="wb-author">{{author}} • <time class="wb-post-time">{{date published_at timeago="ture"}}</time></span>
  </div>
  <div class="wb-post-content wb-container">
      {{contentNoLazy}}
    <div class="wb-desc">
      <img src="/assets/images/weibobottom.png" alt="简单 有趣 有价值"/>
    </div>
  </div>
{{/post}}
</body>
</html>
