{{!< default}}
{{#post}}
  <div id="topScroll">
    <div id="post-banner" class="pv-banner">
        {{> "navbar"}}
      <div class="bg-img-small">
        <img class="lazy" data-original="{{image}}"/>
      </div>
      <div class="bg-img">
        <img class="lazy" data-original="{{image}}"/>
      </div>
      <div class="post-info">
        <p class="name">{{title}}</p>
        <span class="author">{{author}} • <time class="post-time">{{date published_at timeago="ture"}}</time></span>
      </div>
      <a class="scroll-down icon-down" href="#post-main" data-offset="-45">
      </a>
    </div>
  </div>
  <div id="post-main">
    <div class="post-container pv-container">
      <div class="post">
          {{content}}
      </div>
      <div class="share">
        <a title="生成长微博" href="/cwb{{url}}" class="changweibo left">生成长微博</a>
      </div>
        {{duoshuo_block}}
    </div>

    {{post_relative limit="1"}}

  </div>
{{/post}}

{{#contentFor "pageScripts"}}
  <!-- 多说公共JS代码 start -->
  <script type="text/javascript">
    var duoshuoQuery = {short_name: "bigertech"};
    (function () {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';
      ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  </script>
{{/contentFor}}
