{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{#post}}
  <div class="pv-banner">
  {{> "navbar"}}
  <div class="video-bg-img">
    <img class="lazy" data-original="{{image}}"/>
  </div>
  <div class="video">
    <div class="video-info">
      <p class="name">{{title}}</p>
      <span class="author">{{author}} •  <time>{{date published_at timeago="ture"}}</time></span>
    </div>
    <div class="embed-responsive embed-responsive-youku ">
	  <input type="hidden" id="videoId" value="{{videoId}}">
      <div id="youkuplayer" class="embed-responsive-item">
      </div>
    </div>
    <input id="post_desc" type="hidden" value="{{#if meta_description}}{{post_desc}}{{else}}{{excerpt words="20"}}{{/if}}">

    <div class="video-desc">
        {{post_desc}}
    </div>
    <div class="video-share">
      <div class="bdsharebuttonbox">
        <a href="#" class="bds_tsina icon-weibo" data-cmd="tsina" title="分享到新浪微博"></a>
        <a href="#" class="bds_weixin share-wechat icon-wechat " data-cmd="weixin" title="分享到微信"></a>
      </div>
    </div>
  </div>
</div>
<div id="video-container" class="pv-container duoshuo">
  {{duoshuo_block}}
</div>
  {{next_post limit=1 type=1}}
{{/post}}
{{#contentFor "pageScripts"}}

  <script type="text/javascript" src="http://player.youku.com/jsapi">
    player = new YKU.Player('youkuplayer', {
      styleid: '1',
      client_id: '2cf898d1c36ea115',
      vid: document.getElementById('videoId').value
    });
  </script>
  {{> "duoshuoJS"}}
  {{> "share"}}

{{/contentFor}}
